# Secrets
**/Secrets.xcconfig

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/
